<<<<<<< HEAD
=======
body{
    background-color: black !important;
}

>>>>>>> b397825 (Commit)
.search-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
<<<<<<< HEAD
    background-color: #f9f9f9;
=======
    background-color: black !important;
>>>>>>> b397825 (Commit)
}

.search-container {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.search-bar {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #fff;
    transition: border 0.3s;
    border-radius: 25px;
}

.search-bar:focus {
    border: 1px solid #007bff;
    outline: none;
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.no-results {
    font-size: 18px;
    color: #888;
    text-align: center;
    width: 100%;
    margin-top: 50px;
}

.product-card {
    width: 250px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    cursor: pointer;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.product-info {
    padding: 15px;
}

.product-info h5 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.product-price {
    font-size: 16px;
    color: #007bff;
}