html,
body {
    overflow-y: auto;
}
.try{
    font-size: 55px
}
.fileUpload{
    width: 350px;
}
@media(max-width:470px) {
    .try {
        font-size: 30px;
    }
    .fileUpload{
        width: 200px;
    }
}

<<<<<<< HEAD
.selected {
    border: 4px solid black;
=======
.selected-bg {
>>>>>>> b397825 (Commit)
    box-shadow: 0 0 10px rgba(100, 255, 255, 3.5);
}